@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* Common */
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  color: #262626;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  color: #262626;
}
/* //Common */

/* Header */
.navbar {
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}
.navbar-inverse .navbar-nav>li>a {
  position: relative;
  max-width: 200px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  padding: 10px 20px;
}
.navbar-inverse .navbar-nav>li>a::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.navbar-inverse .navbar-nav>li:hover a::before {
  border-bottom: 2px solid #007fa8;
}
.navbar-header button {
  background-color: #ddd;
  border: 2px solid #aaa;
  margin-top: 27px;
}
.navbar-header button .icon-bar {
  background-color: #aaa;
}
.navbar-brand {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: none;
}
.logo {
  width: 60px;
}
.navlist {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* //Header */

/* Main-visual */
.visual {
  padding: 0;
  margin-bottom: 120px;
}
.video-wrap {
  max-height: 720px;
  overflow: hidden;
}
video {
  width: 100vw;
}
/* //Main-visual */

/* 구매혜택 Section */
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.glyphicon {
  color: #eee;
}
.glyphicon-chevron-left:before {
  content: "<";
  font-size: 30px;
}
.glyphicon-chevron-right:before {
  content: ">";
  font-size: 30px;
}
.text-title {
  margin-bottom: 30px;
}
.text-title h2 {
  font-weight: 700;
}
.buybox-wrap {
  width: 100%;
  max-height: 500px;
  border-radius: 20px;
  background-color: #ecf1f6;
}
.buybox-wrap .image-wrap {
  text-align: center;
  max-height: 265px;
  max-width: 350px;
  float: none;
  margin: 0 auto;
}
.buybox-wrap .image-wrap img {
  margin: 60px 0 20px;
  width: 80%;
  min-height: 90px;
}
.buybox-wrap .textbox h3 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}
.buybox-wrap .textbox h4 {
  color: #007fa8;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}
.buybox-wrap .textbox p {
  font-size: 18px;
}
.buybox-wrap .buttonbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.buybox-wrap .buttonbox button {
  width: 120px;
  height: 40px;
  margin: 5px;
  border: none;
  border-radius: 10px;
}
.buybox-wrap .buttonbox button a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}
.buybox-wrap .buttonbox button:first-child {
  background-color: #fefefe;
}
.buybox-wrap .buttonbox button:last-child{
  background-color: #575757;
}
.buybox-wrap .buttonbox button:last-child a {
  color: #fff;
}
.buysection {
  margin-bottom: 120px;
}
/* //구매혜택 Section */

/* Car line-up */
.carlineup {
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carlineup-left {
  background-color: #ecf1f6;
}
.carlineup .lineup-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carlineup .textbox {
  margin-top: 30px;
}
.carlineup .textbox h3 {
  font-size: 22px;
  font-weight: 700;
}
.carlineup .textbox p {
  color: #676767;
}
.carlineup .textbox p:nth-of-type(1) {
  font-size: 14px;
  margin-top: 15px;
  color: #262626;
}
.carlineup .textbox p:nth-of-type(2) {
  font-size: 12px;
  margin-top: 25px;
}
.carlineup .textbox p:nth-of-type(3) {
  font-size: 22px;
  font-weight: 700;
  color: #262626;
}
.carlineup .textbox p:nth-of-type(4) {
  font-size: 12px;
  margin-top: 10px;
}
.carlineup .imgbox {
  padding-top: 30px;
  max-width: 300px;
}
.carlineup .col-xs-12.imgbox {
  float: none;
  clear: both;
}
.carlineup .imgbox img {
  width: 100%;
}
.carlineup .buttonbox {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carlineup .buttonbox button {
  width: 70px;
  height: 24px;
  background-color: #002c5e;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.carlineup .buttonbox button a {
  color: #eee;
  text-decoration: none;
  font-size: 10px;
}
/* // Car line-up */
/* Search Section */
.search-bg {
  background-color: #5e5e5e;
  height: 100px;
}
.search-wrap .textbox {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.search-wrap .textbox p {
  color: #eee;
}
.search-wrap .textbox p:first-child {
  font-size: 18px;
  font-weight: 600;
}
.search-wrap .textbox p:last-child {
  font-weight: 400;
}
.search-wrap .buttonbox {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
}
.search-wrap .buttonbox button {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #eee;
  margin: 0 5px;
}
.search-wrap .buttonbox button a {
  font-size: 14px;
  color: #eee;
  text-decoration: none;
}
/* //Search Section */
/* Footer Section */
.footer-bg {
  background-color: #141414;
  height: 150px;
}
.footer-bg .list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bg .list li {
  margin: 30px 0 10px;
  position: relative;
}
.footer-bg .list li::before {
  content: '';
  position: absolute;
  border-right: 1px solid #eee;
  top: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8px;
  margin: auto 0;
}
.footer-bg .list li:last-child::before {
  border-right: none;
}
.footer-bg .list li a {
  padding: 0 5px;
  width: 100%;
  color: #eee;
  text-decoration: none;
  font-size: 10px;
}
.footer-bg .textbox p {
  color: #eee;
  text-align: center;
  font-size: 8px;
}
.col-xs-12.padding-none {
  padding: 0;
}
/* //Footer Section */

/* 미디어쿼리 적용 */
@media screen and (max-width: 320px) {
  .buybox-wrap .image-wrap img {
    height: 110px;
  }
  .footer-bg .list li a {
    padding: 0 2px;
  }
}
@media screen and (max-width: 400px) {
  .navbar-inverse .navbar-nav>li>a {
    font-size: 14px;
    padding: 0 5px;
  }
}
@media screen and (min-width: 320px) {
  .buybox-wrap .image-wrap img {
    height: 130px;
  }
}
@media screen and (min-width: 400px) {
  .buybox-wrap .buttonbox {
    flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    width: 100px;
  }
  .navbar-brand {
    height: 90px;
  }
  .navlist {
    float: right;
    height: 90px;
  }
  .navbar-inverse .navbar-nav>li>a {
    font-size: 18px;
  }
  .navbar-default .navbar-nav {
    float: right;
  }
  .navbar-default .navbar-nav>li {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-default .navbar-nav>li>a {
    font-size: 18px;
    width: 100px;
    margin: 0 auto;
    text-align: center;
  }
  .buybox-wrap .image-wrap img {
    height: 132px;
  }
  .buybox-wrap .buttonbox {
    flex-direction: row;
  }
  .carlineup .textbox {
    text-align: left;
  }
  .carlineup-left .textbox {
    text-align: right;
  }
  .carlineup .textbox h3 {
    font-size: 30px;
  }
  .carlineup .textbox p:nth-of-type(1) {
    font-size: 18px;
  }
  .carlineup .textbox p:nth-of-type(2) {
    font-size: 16px;
  }
  .carlineup .textbox p:nth-of-type(3) {
    font-size: 30px;
  }
  .carlineup .textbox p:nth-of-type(4) {
    font-size: 16px;
  }
  .carlineup .imgbox {
    max-width: 500px;
  }
  .carlineup .buttonbox {
    margin-top: 60px;
  }
  .carlineup .buttonbox button {
    width: 120px;
    height: 40px;
  }
  .carlineup .buttonbox button:nth-child(2) {
    margin: 0 10px;
  }
  .carlineup .buttonbox button a {
    font-size: 14px;
  }
  .footer-bg .list li::before {
    content: '';
    position: absolute;
    border-right: 1px solid #eee;
    top: calc(50% - 7px);
    bottom: 0;
    left: 0;
    right: 0;
    height: 14px;
  }
  .footer-bg .list li a {
    padding: 20px 20px;
    font-size: 16px;
  }
  .footer-bg .textbox p {
    font-size: 12px;
  }
}
@media screen and (min-width:992px) {
  .buybox-wrap {
    height: 470px;
  }
  .buybox-wrap .textbox {
    margin-left: 30px;
  }
  .buybox-wrap .image-wrap img {
    margin: 60px 0 80px;
    min-height: 110px;
  }
  .buybox-wrap .buttonbox {
    margin-top: 20px;
  }
  .buybox-wrap .buttonbox button a {
    font-size: 16px;
  }
}
@media screen and (min-width:1200px) {
  .buybox-wrap .image-wrap img {
    margin: 60px 0 80px;
    min-height: 132px;
  }
}