/* Common */
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  color: #262626;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
body {
  height: 4000px;
}
/* header */
.navbar {
  margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a {
  color: #262626;
  position: relative;
}
.navbar-default .navbar-nav>li>a::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.navbar-default .navbar-nav>li:hover a::before {
  border-bottom: 2px solid #007fa8;
}
.navbar-header button {
  background-color: #ddd;
  border: 2px solid #aaa;
  margin-top: 27px;
}
.navbar-header button .icon-bar {
  background-color: #aaa;
}
.navbar-brand {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 100px;
}
.navbar-right {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-right > li > a {
  font-size: 20px;
}

/* Main-visual */
.visual {
  padding: 0;
  margin-bottom: 120px;
}
.carousel-inner {
  height: 720px;
}
video {
  width: 100vw;
}
/* 구매혜택 Section */
.text-title {
  margin-bottom: 30px;
}
.text-title h2 {
  font-weight: 700;
}
.buybox-wrap {
  width: 370px;
  height: 470px;
  border-radius: 20px;
  background-color: #ecf1f6;
}
.buybox-wrap .image-wrap {
  text-align: center;
  height: 265px;
}
.buybox-wrap .image-wrap img {
  margin: 60px 0 80px;
  width: 80%;
}
.buybox-wrap .textbox {
  margin-left: 30px;
}
.buybox-wrap .textbox h3 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}
.buybox-wrap .textbox h4 {
  color: #007fa8;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}
.buybox-wrap .textbox p {
  font-size: 18px;
}
.buybox-wrap .buttonbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.buybox-wrap .buttonbox button {
  width: 140px;
  height: 40px;
  margin: 0 10px;
  border: none;
  border-radius: 10px;
}
.buybox-wrap .buttonbox button p {
  font-weight: 400;
}
.buybox-wrap .buttonbox button:first-child {
  background-color: #fff;
}
.buybox-wrap .buttonbox button:last-child{
  background-color: #575757;
}
.buybox-wrap .buttonbox button:last-child p {
  color: #fff;
}
.buysection {
  margin-bottom: 120px;
}